* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    background: -webkit-linear-gradient(90deg, #283938, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(90deg, #283938, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
    text-decoration: none;
}

.flex-container {
    margin-top: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-bottom: 0.2px solid white;


}

.flex-container img {
    width: 100px;
    height: 100px;
}

.flex-container a {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    border: 0.5px inset #716a6a;
    border-radius: 10px;
    padding: 10px 10px;
}

.flex-container a:hover {
    cursor: pointer;
}

.txt-presentacion h3 {
    font-weight: 10px;
    color: white;
    font-size: 30px;
    text-align: justify;
    margin: 20px 20px;
}

.video-presentacion iframe {
    margin-top: 50px;
    width: 90%;
    height: 600px;
    margin-bottom: 50px;

}

.video-presentacion {
    display: flex;
    justify-content: center;
}

.intro-personajes {

    color: #e4dcdc;
    text-align: center;
    margin: 10px 10px;
    margin-bottom: 30px;
    border: 2px solid silver;

}

.boton-carrousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.boton-carrousel button {
    height: 50px;
    width: 100px;
    border: 5px solid #56a5a0;
    border-radius: 10px;
}

.boton-carrousel button:hover {
    cursor: pointer;
}

.carousel-item {
    display: none;
    position: relative;
}

.carousel-item.active {
    display: block;
}

.carousel img {
    margin: 10px 10px;
    width: 250;
    height: 700px;
}

.carousel-text {
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 100px;
    border-radius: 5px;
    max-width: 100%;
    font-size: 1.2em;
}


.descripcion-personajes {
    display: flex;
    align-items: center;
    color: #e4dcdc;
    text-align: center;
    margin: 10px 10px;
}

footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    margin: 30px 30px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;

}

.footer1 p {
    font-size: large;
    margin: 20px 10px;
}

.footer1 p:hover {
    cursor: pointer;
}

.footer1 a{
    color: #fff;
}

.footer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid #e6e9ec;
    border-right: 2px solid #e6e9ec;
    margin: 50px 50px;
}

.footer2 img {
    cursor: pointer;
    display: flex;
    margin: 15px 15px;
    width: 80px;
    height: 80px;
}

.footer3 iframe {
    width: 100%;
    height: 70%;
    border-radius: 20px;
}

.footer3 p {
    text-align: center;
}

hr {
    border: 5px groove rgba(237, 235, 241, 0.2);
    border-radius: 20px;
}