.txt-contacto {
    margin: 30px 30px;
    color: #fff;
    text-align: center;
    font-size: 24px;
}

.contenedor-formulario {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}



input[type=text],
input[type=email],
textarea,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}

i {
    margin: 10px 10px;
    padding: 20px 5px;
    font-size: 24px;
}

button[type=submit] {
    font-size: 25px;
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.boton-enviar{
    display: flex;
    justify-content: center;
    align-items: center;
}

button[type=submit]:hover {
    background-color: #45a049;
}

div.contenedor-formulario {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-size: 20px;
}

.error {
    border: 2px solid red;
    color: #000;
    padding: 10px;
    margin-top: 10px;
    background-color: #f8d7da;
    border-radius: 4px;
}

ul{
    color: #fff;
}

ol{
    color: #fff;
}