.anio-1997 {
    margin: 20px 20px;
    text-align: center;
    color: white;
}

.games {
    margin: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.card {
    border: 8px solid #b0acac;
    border-radius: 10px;
    height: 300px;
    width: 60%;
}

.card img{
    background-size: cover;
    height: 285px;
    width: 100%;
}

.parrafo-card p{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #fff;
    font-size: 20px;
}
