.anio-1997 {
    margin: 20px 20px;
    text-align: center;
    color: white;
}

.games {
    margin: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.card {
    min-height: 100%;
    max-width: 100%;
}

.card img {
    border: 5px solid #989292;
    border-radius: 10px;
    background-size: cover;
    transition: all 1.3s;
}

.card img:hover {
    cursor:col-resize;
    transform: scale(1.4);
}

.parrafo-card p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #fff;
    font-size: 20px;
}